.container{
    background-color: rgba(255, 0, 0, 0.115);
    height: 100vh;
}
.box{
    background-color: aliceblue;
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 200px;
    margin-bottom: 5px;
    min-width: 25%;
}