body{
    background-color: black;
}

h1{
    color:white;
}

p{
    color:rgb(101, 57, 0);
}

#p1{
    color:aqua;
}
#p2{
    color:rgb(110, 110, 167);
}
#p3{
    color:violet;
}
#p4{
    color:red;
}

.odd{
    color:hsl(350, 100%, 13%);
}
.even{
    color:blueviolet;
}