h1{
    text-shadow: 3px 3px 5px hsla(50, 100%, 50%, 0.855), -3px -3px 5px green;

}
#box1{
    height: 100px;
    width: 100px;
    background-color:hsla(72, 100%, 50%, 0.855);
    box-shadow: 3px 3px 5px ;
}